@font-face {
    font-family: IRANSansWeb;
    src: url('./assets/fonts/IRANSansWeb(FaNum).eot');
    src: url('./assets/fonts/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/IRANSansWeb(FaNum).woff2') format('woff2'),
    url('./assets/fonts/IRANSansWeb(FaNum).woff') format('woff'),
    url('./assets/fonts/IRANSansWeb(FaNum).ttf') format('truetype');
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    direction: rtl;
    text-align: right;
}

body {
    font-family: IRANSansWeb;
}

::-webkit-scrollbar {
    width:10px;
    background-color:#211c1b;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0px -1px 13px #211c1b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #4a00ff;
    border-radius: 10px;
}

.side-bar {
    padding: 2rem;
    background-color: #211c1b;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    height: 100vh;
    position: fixed;
    width: 250px;
}

.side-bar a {
    text-decoration: none;
    color: #fff;
}

.side-bar ul {
    list-style: none;
}

.side-bar ul li {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s all ease-in-out;
}

.side-bar ul li:hover {
    background-color: blue;
}

.main-content {
    right: 250px;
    padding: 0;
    margin: 0;
}

.plus-button {
    padding-top: 2rem;
    display: flex;
    flex-direction: row-reverse;
    font-size: 5rem;
    color: #4a00ff;
}

.spinner-img {
    width: 20px;
    height: 20px;
}

.img-logo {
    width: 120px;
    height: auto;
}

.custom-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15rem;
    margin: 0.8rem;
}

.dash-icons {
    font-size: 8rem;
    padding: 8px;
    color: #96089b;
}